<div id="section1">
  <header id="header-area" class="intro-section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target= "#myCarousel" data-slide-to="0" class= "active">
        </li>
        <% 3.times do |i| %>
          <li data-target="#myCarousel" data-slide-to="<%= i + 1 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% 4.times do |i| %>
          <div class="item <%= "active" if i == 0 %>">
            <%= image_tag "hoi_an#{i + 1}.jpg" %>
            <div class="carousel-caption">
              <h3><%= t ".title#{i + 1}" %></h3>
              <p><%= t ".description#{i + 1}" %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t ".previous" %></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t ".next" %></span>
      </a>
    </div>
  </header>
</div>
