<% provide :title, t(".title") %>

<div class="box-header">
  <h1><%= t ".title" %></h1>
</div>
<div class="box-body">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if @notifications.any? %>
        <p class="mark-as-read">
          <%= link_to t(".mark_as_read"),
            notifications_mark_as_read_path,
            method: :post, remote: :true %>
        </p>
        <div class="notifications">
          <%= render @notifications %>
        </div>
      <% else %>
        <p><%= t ".no_notifications" %></p>
      <% end %>
    </div>
    <div class="col-md-12 text-center paginatation">
      <%= will_paginate %>
    </div>
  </div>
</div>
