<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header"><%= t ".manager" %></li>
      <li class="active">
        <%= link_to admin_users_path do %>
          <i class="fa fa-link"></i> <span><%= t ".users" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-link"></i> <span><%= t ".categories" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-link"></i> <span><%= t ".tours" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-link"></i> <span><%= t ".booking_requests" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-link"></i> <span><%= t ".user_reviews" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-link"></i> <span><%= t ".revenue" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
