<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@tour, @booking] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :contact_name %>
      <%= f.text_field :contact_name, class: "form-control" %>
      <%= f.label :contact_phone %>
      <%= f.text_field :contact_phone, class: "form-control" %>
      <%= f.label :contact_address %>
      <%= f.text_field :contact_address, class: "form-control" %>
      <%= f.label :num_tourist %>
      <%= f.text_field :num_tourist,
        class: "form-control num-tourist" %>
      <%= f.label :tour_date_id %>
      <%= f.select :tour_date_id, @dates, {}, class: "form-control" %>
      <%= f.text_area :description, class: "form-control" %>
      <div class="price" align="center">
        <p><strong><%= t ".description_price" %>
          <%= number_to_currency @tour.price_per_person %>
          <%= t ".price" %></strong>
        </p>
      </div>
      <%= f.hidden_field :total_price, value: @booking.total_price,
        class: "total_price" %>
      <%= f.hidden_field :price_per_person,
        value: @tour.price_per_person, class: "price_per_person" %>
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
