<header>
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top custom-nav">
    <div class="container">
      <div class="navbar-header">
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".about"), "#" %></li>
          <li><%= link_to t(".contact"), "#" %></li>
          <% if user_signed_in? %>
            <li><%= link_to t(".logout"), "#" %></li>
          <% else %>
            <li><%= link_to t(".login"), new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
