<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="single-page-nav sticky-wrapper" id="tmNavbar">
      <ul class="nav navbar-nav fbt">
        <li><%= t "fbt" %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".about"), "#" %></li>
        <li><%= link_to t(".contact"), "#" %></li>
        <% if user_signed_in? %>
          <li><%= link_to t(".logout"), destroy_user_session_path,
            method: :delete %></li>
        <% else %>
          <li><%= link_to t(".login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
